$header-green: #00704a;
$subheader-green: #4bab56;
$between-paragraphs: 48px;
$above-photos: 68px;
$content-widest: 950px;
$text-width: 850px;
$content-width: 650px;
$page-hero-image-width: 950px;
$menu-hover: #003c25;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
  font-family: 'Gotham-Medium';
  src: url('Gotham-Medium') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('HelveticaNeueLTStd-Bd.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueLTStdItalics';
  src: url('HelveticaNeueLTStd-It.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueHv';
  src: url('HelveticaNeueLTStd-Hv.otf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'HelveticaNeueLtMedium';
  src: url('HelveticaNeueLTStd-Md.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url('HelveticaNeueLTStd-Roman.otf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('HelveticaNeueLTStd-Lt.otf') format('truetype'); /* Safari, Android, iOS */
}

body {
  padding: 0 !important;
}

body,
div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

[data-hide='true'] {
  display: none;
}

body {
  font-family: 'Montserrat', HelveticaNeueLt, 'Gotham', 'Franklin Gothic Medium',
    'Arial Narrow', Arial, sans-serif;
}
h1 {
  font-family: HelveticaNeueBold;
  font-size: 40px;
  line-height: 44px;
  margin-top: 140px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $header-green;
  color: $header-green;
}
h2 {
  color: $header-green;
}

h2 {
  margin-bottom: 30px;
}

h4 {
  font-family: HelveticaNeueLtMedium;
}
td {
  font-family: 'HelveticaNeueLT', 'HelveticaNeue', 'Helvetica', 'Gotham',
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-head-img {
  text-align: center;
  margin-bottom: 50px;
}
h3 {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 40px;
  color: $header-green;
}

button,
h4 {
  color: $header-green;
}

span.super {
  font-size: x-small;
  position: relative;
  top: -6px;
}

header {
  > div {
    background-color: $header-green;
    padding: 25px 65px;
    display: flex;
    justify-content: space-between;
    max-height: 95px;
    .logo {
      text-align: center;
    }
  }
  nav ul {
    list-style: none;
    background-color: $subheader-green;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    li {
      a {
        color: #ffffff;
        text-decoration: none;
        display: table-cell;
        vertical-align: bottom;
        text-align: center;
        padding: 10px;
        width: 164px;
        height: 46px;
      }
      a:hover,
      &.current-page {
        background-color: $menu-hover;
        font-weight: bold;
      }
    }
  }
}

.splash {
  position: relative;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1348px;
  &:hover {
    cursor: pointer;
  }
  .main-image {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logo,
  .bottom-copy {
    position: relative;
    z-index: 100;
  }
  .logo {
    top: 115px;
    max-width: 200px;
  }
  .bottom-copy {
    position: absolute;
    bottom: 75px;
    text-decoration: none;
    color: white;
    display: none;
  }
}

.hero {
  text-align: center;
}

.widest {
  max-width: $content-widest;
}

.wrapper {
  margin: 0 auto;
  & > div {
    max-width: $content-widest;
  }
  .company {
    .large {
      text-transform: uppercase;
      font-weight: 700;
    }
    width: 100%;
    max-width: 100%;
    .inner-content {
      .content:first-child {
        border-top: 1px solid $header-green;
        padding-top: 40px;
        margin-top: 120px;
      }
      .content {
        max-width: 100%;
      }
    }
  }
}

.text-content {
  margin-left: auto;
  margin-right: auto;
  .intro {
    margin-top: 40px;
    color: $header-green;
    p {
      font-size: 18px;
      line-height: 26px;
      font-family: HelveticaNeueLtMedium;
    }
  }
  section {
    margin-bottom: 40px;
    p {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 27px;
    }
    h4 {
      margin-bottom: 10px;
      &:first-child {
      }
    }
  }
}

.menu-button {
  max-width: 100px;
}

.logo {
  img {
    height: 54px;
    width: 90px;
  }
}

.inner-content {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  .content:first-child {
    margin-top: 0;
  }
  .content {
    color: $header-green;
    margin-top: 50px;
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
    line-height: 38px;
    &.buttons {
      display: flex;
      justify-content: center;
      a:last-child button {
        margin-left: 30px;
      }
      button {
        font-weight: 700;
        background-color: #ffffff;
        border: 1px solid $header-green;
        text-align: center;
        width: 320px;
        height: 50px;
        font-size: 16px;
        vertical-align: middle;
        &:after {
          content: '\279E';
          display: inline-block;
          // background-color: $header-green
          font-size: 18px;
          padding-left: 5px;
          transform: scale(0.8, 1.2);
          vertical-align: middle;
          color: $header-green;
        }
        &:hover {
          position: relative;
          &:after {
            color: $subheader-green;
          }
          &:before {
            content: ' ';
            background-color: $menu-hover;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
          }
        }
      }
    }
  }
}

.image-container {
  margin-top: 50px;
  white-space: nowrap;
  text-align: center;
  white-space: nowrap;
  a {
    position: relative;
    display: inline-block;
    width: 50%;
    & > span {
      position: absolute;
      vertical-align: middle;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 28px;
      line-height: 50px;
      background-color: $menu-hover;
      color: #ffffff;
    }
    img {
      max-width: 100%;
      vertical-align: top;
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }

    &:hover {
      cursor: pointer;
      span {
        z-index: 1;
      }
    }
  }
}

.financial {
  max-width: $content-width;
  margin: 0 auto;
  padding-bottom: 100px;
  table {
    font-size: 16px;
    line-height: 26px;
    tr.last-row td {
      padding-bottom: 40px;
    }
    th {
      border-top: 1px solid $header-green;
      border-bottom: 1px solid $header-green;
    }
    th,
    td {
      color: $header-green;
      text-align: right;
      padding-right: 20px;
      white-space: nowrap;
      font-family: HelveticaNeueLtMedium;
    }
    .percent {
      margin-right: -10px;
    }
    .dollar {
      float: left;
    }
    th:first-child,
    td:first-child {
      text-align: left;
      color: #000000;
      width: auto;
      font-family: HelveticaNeueLT;
    }
    th:last-child {
      color: #000000;
    }
    th:last-child,
    td:last-child {
      padding-right: 20px;
      width: 115px;
      font-family: HelveticaNeueLT;
    }
    td {
      border-bottom: none;
      &:last-child,
      &:first-child {
        color: #000000;
      }
    }
    .dollar {
      display: inline-block;
      text-align: left;
      margin-right: 10px;
    }
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  .footer {
    padding-left: 20px;
    h6:first-child {
      margin-bottom: 4px;
    }
    span {
      margin-left: -18px;
    }
  }
  .indent {
    &.once {
      text-indent: 5px;
    }
    &.twice {
      text-indent: 10px;
    }
  }
}

.shareholders {
  margin: 0 auto;
  .intro {
    font-size: 21px;
    p {
    }
  }
  .signatures {
    margin-top: 80px;
    .name {
      font-family: 'HelveticaNeueLtMedium', 'sans-serif';
      font-weight: bold;
    }
    & > div {
      display: inline-block;

      &:first-child {
        padding-right: 35px;
        margin-right: 35px;
      }
      img {
        max-width: 200px;
      }
    }
  }
  .QuigSig {
    border-right: 1px solid $header-green;
  }
}

.wrapper img {
  width: 100%;
}

.inner-content {
  max-width: $text-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.global {
  h1 {
    margin-top: 0;
  }
  img {
    span {
      background-color: transparent;
    }
  }
}
.download-button {
  &:hover {
    cursor: pointer;
  }

  img {
    width: 102px;
    height: 48px;
  }
}
.container.download {
  background-color: #ffffff;
  .ui-dialog-content {
    background-color: #ffffff;
    padding: 5px;
  }
}
.menu img {
  width: 43px;
  height: 43px;
}

.img {
  position: relative;
  span {
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    bottom: 45px;
    left: 15px;
    font-family: HelveticaNeueLTStdItalics, 'sans-serif';
  }
  &.two,
  &.three {
    border-bottom: 1px solid $header-green;
    span {
      bottom: 7px;
      left: 0;
      color: #000000;
    }
  }
}

.sustainability {
  h1 {
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 20px;
      &:before {
        content: '\2022';
        position: absolute;
        color: $header-green;
        left: 0;
        font-size: 40px;
        top: -18px;
      }
    }
  }
}

.board {
  #content div {
    margin-bottom: 0;
  }

  .boardSection .sec {
    padding: 0;
  }

  .italic {
    font-style: italic;
  }

  .memberNameParent {
    margin-top: 8px;
  }

  .sec {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding: 5px 0 0;
  }

  .section0 .sn0,
  .section1 .bs0 .sec1 {
    padding-top: 10px;
  }

  #content div.sectionName,
  #content .section1 .bs0 .sec1 .memberName,
  .section4.sectionName > span {
    color: #00704a;
    font-size: 16px;
  }

  #content .section4.sectionName > span {
    font-size: 16px;
    color: #000000;
  }

  #content div.sec.subName {
    margin-bottom: 6px;
  }

  #content .section0 > div.sectionName {
    margin-bottom: 15px;
    color: #000000;
  }

  #content .section2 .members .simpleName,
  #content .section3 .members .simpleName {
    display: block;
    padding-top: 6px;
  }

  .section3 .affiliate,
  .section2 .affiliate {
    text-indent: 3px;
    font-size: 11px;
    margin-top: -2px;
  }

  .sectionName {
    margin-bottom: 15px;
  }

  .section4 {
    clear: left;
    padding-top: 50px;
  }

  .section0,
  .section4,
  .section7 {
    width: 100%;
  }
  .section7 {
    margin-top: 20px;
  }
  .section4 span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
  }

  .section4 > span {
    padding-bottom: 15px;
  }

  .memberNameParent .memberName {
    padding-right: 2px;
  }

  .affiliate {
    display: block;
    line-height: 16px;
  }

  .memberName,
  .subName {
    font-size: 13px;
    line-height: 14.5px;
    color: #006f4a;
    font-style: normal;
  }

  .star:before {
    content: '*';
    margin-left: -5px;
  }
  .sub {
    color: #006f4a;
    font-style: normal;
    padding-left: 0;
    font-size: 10px;
    margin-right: 0.2em;
  }

  .ls03 {
    letter-spacing: 0.03px;
  }

  .notes.secondary:before {
    content: '(3) ';
    visibility: hidden;
  }

  .section0,
  .boardSection {
    float: left;
  }

  .section0 {
    width: 300px;
  }
  .boardSection {
    width: 300px;
  }
  .firstNote {
    margin-top: 8px;
  }

  #content table .parentNodes {
    font-size: 9px;
    line-height: 10px;
  }
  td,
  th {
    border-bottom: none;
  }
  .section.section1,
  .boardSection,
  .section4 {
    .hbold {
      font-family: HelveticaNeueLtMedium;
      font-weight: 400;
    }
  }
  h1 .sectionName {
    color: #000000;
  }
  span.sup {
    margin-right: 5px;
  }
}

div[tabindex='-1'] {
  position: absolute !important;
  top: 30%;
  width: 80%;
  margin: 0 10%;

  .modal-content {
    box-shadow: 10px 5px 5px #cccccc;
    background-color: #ffffff;
    padding: 30px 30px 10px 30px;
    position: relative;
    .modal-body {
      white-space: nowrap;
      a {
        img {
          display: inline;
          margin-right: 10px;
          width: 48%;
        }
      }
      a:last-child {
        margin-right: 0;
      }
    }
  }
  .modal-header {
    h5 {
      text-align: center;
      font-size: 34px;
      border-bottom: 1px solid $header-green;
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
    button {
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: #ffffff;
      border: none;
      font-size: 40px;
    }
    margin-bottom: 10px;
  }
}
