$header-green: #00704a;
$subheader-green: #4bab56;
$between-paragraphs: 48px;
$above-photos: 68px;
$text-width: 850px;
$page-hero-image-width: 950px;

body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gotham', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

header {
  > div {
    background-color: $header-green;
    padding: 25px 65px;
    display: flex;
    justify-content: space-between;
    max-height: 95px;
    .logo {
      text-align: center;
    }
  }
  nav ul {
    list-style: none;
    background-color: $subheader-green;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    justify-content: space-between;
    padding: 15px 65px;
    li {
      vertical-align: middle;
      a {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.text-content {
  max-width: $text-width;
}

.menu-button {
  max-width: 100px;
}

.logo {
  img {
    max-height: 100%;
  }
}

.download-button {
  max-width: 100px;
}
