$header-green: #00704a;
$subheader-green: #4bab56;
$between-paragraphs: 48px;
$above-photos: 68px;

header {
  height: 96px;
  background-color: $header-green;
  margin-bottom: 75px;
}

subheader {
  height: 50px;
}
